* {
    box-sizing: border-box;
}
html {
    scroll-behavior: auto;
    overscroll-behavior: none;
}
body {
    margin: 0;
    background: #f1eee8;
    font-family: Manrope, sans-serif;
    overscroll-behavior: none;
}
body,
button {
    -webkit-font-smoothing: antialiased;
}
button {
    font-family: inherit;
}
::selection {
    background: #d7ff3f;
    color: #171717;
}
